.layout{
  margin: 0;
  padding: 0 ;
  background:#f6f6f6;
  min-height: 100vh;
}

.layout-header{
  padding: 2rem;
  background: #2f4559;
}

.layout-body{
  padding: 2rem 1rem;
  height: 100%;
}

@media( 1024px <= width < 1200px) {
  .layout-body{
    padding: 4rem 4rem;
  }

  .layout-header{
    padding: 2rem 4rem;
  }
}

@media( 1200px <= width < 1700px) {
  .layout-body{
    padding: 4rem 8rem;
  }

  .layout-header{
    padding: 2rem 8rem;
  }
}

@media( width > 1700px) {
  .layout-body{
    padding: 4rem 24rem;
  }

  .layout-header{
    padding: 2rem 24rem;
  }
}
